.my-datepicker .MuiIconButton-label {
  transform: translate(0px, -1px);
}

.my-datepicker .MuiFormControl-root {
  width: 100%;
}

.my-datepicker .MuiInputBase-root {
  border: 1px solid #bebebe;
  border-radius: 2px;
  padding: 2px;
}

.my-datepicker .MuiFormLabel-root {
  color: #909193;
}

.my-datepicker .MuiFormLabel-root.Mui-focused {
  color: #909193;
}

.my-datepicker .MuiInput-underline:before {
  border-bottom: none;
}

.my-datepicker .MuiInput-underline:after {
  border-bottom: none;
}

.my-datepicker .MuiInput-underline.Mui-focused:after {
  transform: scale(0);
}

.my-datepicker .MuiInput-underline:hover:not(Mui-disabled):before {
  border-bottom: none;
}
